<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Application requires access to the location of the user!</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app requires access to your calendar to display your upcoming events.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>This app requires full access to your calendar to display and manage your events.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>This app requires access to add events to your calendar.</string>
	<key>NSRemindersUsageDescription</key>
	<string>This app requires access to your Reminders to display your tasks.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>This app requires full access to your Reminders to display and manage your tasks.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
